//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #005335;
$secondary: #d5622a;

$free: #32cd30;
$reserved: #cd4830;
$inprocess: #cdca30;
